@use "../variable/variable" as var;

@mixin h2_style {
  font-size: var.$h2_font_size;
  text-align: center;
}
@mixin h3_style {
  font-size: var.$h3_font_size;
  text-align: center;
}

main{
  @extend .wrapper;
  margin: 30px  auto  0;
  padding-bottom: 110px;
  border-bottom: 1px black dotted;
  h2{
    @include h2_style();
    margin-bottom: 50px;
  }
  table{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #dee2e7;
    font-size: 17px;
    tr{
      border: 1px solid #dee2e7;
      
      th{
        border-right: 1px solid #dee2e7;
        padding: 20px 70px 20px 20px;
        background: #edf6f3;;
      }
      td{
        padding: 20px;
      }
    }
  }
  #entry{
    h2{
      margin-top: 30px;
    }
    .logo{
      display: flex;
      justify-content: center;
      img{
        margin-right: 20px;
      }
    }
  }
}




@media (max-width: 1265px) {
  main{
    table{
      width: 100%;
    }
  }
}
@media (max-width: 1016px){
  main{
    table{
      font-size: 14px;
    }
  }
}
@media(max-width: 871px){
  main{
    table{
      tr{
        th{
          display: block;
        }
        td{
          display: block;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  main{
    h2 {
      font-size: 30px;
    }
    #entry{
      .logo{
        display: inline-block;
        text-align: center;
        img{
          margin-right: 0;
          margin-bottom: 30px;
        }
      }
    }
  }
}