@use "../variable/variable" as var;

#hd {
  line-height: 1;
  width: auto;
  padding: 28px;
  background-color: var.$main_bg_clor;
  h1 {
    font-size: var.$h1_font_size;
    line-height: 35px;
    color: var.$font_color_b;
    text-align: center;
    font-weight: bold;
    font-family: 'Hiragino Kaku Gothic Pro N';
  }
  a {
    text-decoration: none;
    color: var.$font_color_b;
    &:hover {
      color: var.$font_color_b;
      opacity: var.$hover_opp;
    }
  }
  #nav {
    position: absolute;
    top: 0px;
    left: -120%;
    width: 100%;
    height: auto;
    background-color: var.$nav_color;
    opacity: var.$hover_opp;
    transition: 0.7s;
    z-index: 999;
    #main_nav {
      padding-top: 99px;
      padding-left: 0;
      margin-bottom: 0;
      .main_li {
        width: 100%;
        a {
          color: var.$nav_list_color;
          display: table;
          overflow: hidden;
          transition: all 0.5s ease-out;
          margin-top: 1px;
          padding: 14px 0 10px;
          width: 100%;
          text-decoration: none;
          text-align: left;
          vertical-align: middle;
          &:hover {
            background: var.$main_list_hover_color;
            transition: all 0.5s ease-out;
          }
        }
        font-size: var.$main_nav_a_size;
        border-top: 2px black solid;
        &:last-child {
          border-bottom: 2px black solid;
        }
        .sub_nav {
          font-size: var.$sub_nav_a_size;
          margin: 0;
          padding: 0;
          .sub_li {
            a {
              display: block;
              margin-top: 0;
              padding: 0 0px;
              height: 0;
              transition: all 0.5s ease-out;
            }
          }
        }
        &:hover {
          .sub_li {
            a {
              display: table;
              margin-top: 1px;
              padding: 10px 0;
              width: 100%;
              height: 1em;
              transition: all 0.5s ease-out;
              border-top: 2px black solid;
              &:hover {
                background: var.$sub_list_hover_color;
                transition: all 0.5s ease-out;
              }
            }
          }
        }
      }
    }
  }
  .in {
    transform: translateX(120%);
  }
  #hamburger {
    display: block;
    position: absolute;
    top: 30px;
    left: 95%;
    width: 55px;
    height: 35px;
    cursor: pointer;
    transition: 1s;
    .inner_line {
      display: block;
      position: absolute;
      left: 0;
      width: 55px;
      height: 3px;
      background-color: var.$humberger_btn;
      transition: 1s;
      border-radius: 4px;
      transform-origin: 10% 50%;
      z-index: 999;
    }
    #line1 {
      top: 0;
    }
    #line2 {
      top: 15px;
    }
    #line3 {
      top: 30px;
    }
    .line_1,
    .line_2,
    .line_3 {
      background-color: var.$humberger_btn_on;
    }
    .line_1 {
      transform: rotate(45deg);
      width: 52px;
    }
    .line_2 {
      opacity: 0;
    }
    .line_3 {
      transform: rotate(-45deg);
      width: 50px;
    }
  }
}

/* img swiper */
.swiper-container {
  background-color: #000000;
  width: 100%;
  height: 50%;
  .swiper-wrapper {
    .swiper-slide {
      img {
        width: 100%;
        height: 875px;
      }
    }
  }
}
.space {
  width: auto;
  padding: 30px;
  background-color: var.$main_bg_clor;
  h3 {
    font-size: var.$h3_font_size;
    color: var.$font_color_b;
    text-align: center;
  }
}

/* responsive */
@mixin inner2 {
  width: 2px;
  height: 16px;
  background-color: var.$sub_list_btn_color;
  display: block;
  position: absolute;
  right: 33px;
  top: 50%;
  margin-top: -8px;
  z-index: 999;
}
@mixin inner_btn {
  width: 81px;
  height: 59px;
  border-left: 2px black solid;
  position: relative;
}

@mixin btn_line1 {
  transition: all 0.5s ease-out;
  transform: rotate(90deg);
}
@mixin btn_line_1 {
  opacity: 0;
  transition: all 0.5s ease-out;
}
@media (max-width: 768px) {
  
  /* header */
  #hd {
    padding: 20px;
    h1 {
      font-size: var.$h1_font_size_res;
    }
    #nav {
      opacity: var.$hover_opp + 0.2;
      #main_nav {
        padding-top: 82px;
        .main_li {
          font-size: var.$main_nav_a_size;
          a {
            overflow: unset;
            margin-top: 0px;
            &:hover {
              background: var.$nav_color;
              transition: none;
            }
          }
          .sub_ex {
            display: flex;
            #click_open_sub_list_btn1 {
              @include inner_btn;
              .inner_line2 {
                @include inner2;
              }

              #line4 {
                @include btn_line1;
              }
              .line_5 {
                @include btn_line_1;
              }
            }
            #click_open_sub_list_btn2 {
              @include inner_btn;
              .inner_line2 {
                @include inner2;
              }
              #line6 {
                @include btn_line1;
              }
              .line_7 {
                @include btn_line_1;
              }
            }
          }
          .sub_nav {
            display: none;
            .sub_li {
              a {
                padding: 14px 0px;
                height: 30px;
                border-top: 2px black solid;
                box-sizing: unset;
              }
            }
          }
          &:hover {
            .sub_li {
              a {
                display: table;
                margin-top: 0px;
                padding: 14px 0;
                width: 100%;
                height: 1em;
                &:hover {
                  background: var.$nav_color;
                  transition: none;
                }
              }
            }
          }
          .open_list {
            display: block;
          }
        }
      }
    }
    #hamburger {
      top: 3%;
      left: 87%;
      width: 40px;
      height: 40px;
      .inner_line {
        width: 40px;
        height: 2px;
      }
      #line1 {
        top: 10px;
      }
      #line2 {
        top: 20px;
      }
      #line3 {
        top: 30px;
      }
      .line_1 {
        transform: rotate(45deg);
        width: 35px;
      }
      .line_2 {
        opacity: 0;
      }
      .line_3 {
        transform: rotate(-45deg);
        width: 36px;
      }
    }
  }
  .swiper-container {
    .swiper-wrapper {
      .swiper-slide {
        img {
          height: 350px;
        }
      }
    }
  }
}
