@use "../variable/variable" as var;

#ft {
  background-color: var.$main_bg_clor;
  #ft_in {
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    p {
      color: var.$font_color_b;
      font-size: var.$copy_right_font_size;
      padding: 30px;
      
      a{
        color: white;
        &:hover{
          opacity: var.$hover_opp;
        }
      }
    }
  }
}

/* footer responsive*/
@media (max-width: 768px) {
  #ft {
    #ft_in {
      width: auto;
      display: block;
      p {
        font-size: var.$footer_font_size_res;
        text-align: center;
      }
    }
  }
}
