/* index */
$main_bg_clor: rgb(20, 39, 49);
$font_color_a: rgb(0,0,0);
$font_color_b: rgb(255,255,255);
$h1_font_size: 35px;
$h2_font_size: 43px;
$h3_font_size: 24px;
$P_font_size: 13px;
$h1_font_size_res: 22px;
$h2_font_size_res: 30px;
$footer_font_size_res: 20px;
$hover_opp: 0.7;
$font-w: normal;
$line-h: normal;
/* header */
$nav_color: rgb(255,255,255);
$nav_list_color:rgb(0,0,0);
$main_list_hover_color:rgb(152,251,152);
$sub_list_hover_color:rgb(152,251,152);
$humberger_btn:rgb(255,255,255);
$humberger_btn_on:rgb(0,0,0);
$sub_list_btn_color: rgb(0,0,0);
$main_nav_a_size: 35px;
$sub_nav_a_size: 30px;
$main_nav_a_size_res: 15px;
$sub_nav_a_size_res: 10px;
/* section all */
.wrapper{
  width: 80%;
  margin: 0 auto;
}
/* sec1 */
/* sec2 */
$btn_clor:rgb(0,187,221);
/* sec3 */
$sec3_bg_color: rgb(226,226,226);

/* footer */
$copy_right_font_size: 24px;

/* contact */
$form_back_ground_color: #f2e6d2;
$form_btn_color: #3599eb; 
$th1_color: #e1f0fc;
$th2_color: #F1F8FE;